* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
}

#root img {
  height: 100px;
  margin: 0 25px;
}

#root iframe {
  border: 1px solid black;
  margin: 0 25px;
  padding: 6px;
  height: calc(100vh - 25px - 25px - 6px - 6px - 100px);
  width: calc(100vw - 25px - 25px - 6px - 6px);
}
